<div class="post">
	<h2><%= blog_post.title %></h2>
	<p>Posted In: <span class="post_category"><%= link_to blog_post.category.title , category_path(:id => blog_post.category.id) %></span></p>
	<p class="bp_created_at"><%= blog_post.created_at %></p>
	<% if blog_post.image_file_name %>
            <p class="featured_image_thumb"><%= image_tag blog_post.image.url(:thumb) %></p>
    <% end %>
    <p class="excerpt"><%= truncate(raw(strip_tags(blog_post.content)), :length => 240, :separator => ' ') %></p>
	<p class="read_more"><%= link_to "Read More", post_path(blog_post.id), :class => "product-btn btn btn-info" %></p>
</div><!--/span-->