<!DOCTYPE html>
<html>
<head>
  <title>RailsCms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% categories = Category.all %>
	<% pages      = SitePage.all %>
  <% widgets    = Widget.where('location' => 'sidebar') %>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "CMDann.ca", root_path, :class => "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Blog", blog_path %></li>
            <% pages.each do |page| %>
              <li><%= link_to page.title , page_path(:id => page.id) %></li>
            <% end %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <%= render 'search/search' %>

          <div class="row">
            
            <%= yield %>


          </div><!--/row-->
        </div><!--/span-->


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Categories:</a>
            <% categories.each do |category| %>
            	<%= link_to category.title , category_path(:id => category.id), :class=>"list-group-item" %>
          	<% end %>
          </div>

        <div class="col-lg-4">
        <% widgets.each do |widget| %>
          <div class="panel panel-primary side-bar-panel">
            <% if widget.title %>
              <div class="panel-heading">
                <h3 class="panel-title"><%= widget.title %></h3>
              </div>
            <% end %>
              <div class="panel-body">
                <%= raw(widget.content) %>
              </div>
            </div>
          
        <% end %>
        </div>
        </div><!--/span-->
      </div><!--/row-->

      <!-- Render the footer -->
      <%= render 'footer/footer' %>

    </div><!--/.container-->

</body>
</html>


